<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <title>Transfert</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">
    <div class="col-md-6 offset-3 mt-3">
        <form th:action="@{saveTransfert}" th:object="${transfert}" method="post" >
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <h3>Effectuer un transfert entre compte</h3>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group mb-3">
                        <label for="compteSource">ID du compte source</label>
                        <input type="text" class="form-control" name="compteSource" id="compteSource" th:value="*{compteSource}">
                        <span th:if="${#fields.hasErrors('compteSource')}" th:errors="*{compteSource}" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="compteDestinataire">ID du compte destinataire</label>
                        <input type="text" class="form-control" name="compteDestinataire" id="compteDestinataire" th:value="*{compteDestinataire}">
                        <span th:if="${#fields.hasErrors('compteDestinataire')}" th:errors="*{compteDestinataire}" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="montant">Montant à transférer</label>
                        <input type="text" class="form-control" name="montant" id="montant" th:value="*{montant}">
                        <span th:if="${#fields.hasErrors('montant')}" th:errors="*{montant}" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
